.price {
  background-image: url("./assets/image\ 2\ \(2\).png");
  background-position: center center;
  background-size: 87%;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

@media (min-width: 1800px) and (max-width: 2000px) {
  .price-section {
    height: 700px;
  }

  .text-12 {
    font-size: 20px;
  }
  .price-section1 {
    height: 700px;
    gap: 50px;
  }

  .price {
    background-size: 100%;
    height: 100%;
    width: 100%;
  }
  .price1 {
    background-size: 98%;
    width: 31%;
  }
}
@media (min-width: 2100px) and (max-width: 2600px) {
  .price-section {
    height: 800px;
  }
  .text-12 {
    font-size: 25px;
  }
  .price-section1 {
    height: 850px;
    gap: 50px;
  }
  .price {
    background-size: 100%;
    height: 100%;
    width: 100%;
  }
  .price1 {
    background-size: 98%;
    width: 29%;
  }

  .terms {
    overflow: scroll;
    padding-top: 44%;
  }
  h5 {
    font-size: 40px;
  }
}
