/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* @font-face {
    font-family: 'Salernomi J';
    src: url('./fonts/9SALERNO.TTF');
    font-weight: 400;
    font-style: normal;
} */

:root {
    --bg-custom: #F0EDE9;
    --text-custom: #4D4D4D;
    --text-dark-hover: #333333;
    --text-64: 64px;
    --text-56: 56px;
    --text-20: 20px;
    --w-60: 60%;
    --w-200: 200px;
    --w-40: 40%;
}